{% extends 'base.html' %}
{% block title %} Detail Reservation {% endblock %}

{% block body %}


<div class ='col-sm-6 col-sm-offset-3'>
  <strong><p style="color: red">Votre reservation bien ete passer.On va vous Contacter
  </p></strong>
  <p class="list-group-item active">
    <strong><span class="glyphicon glyphicon-tag"></span> Detail Reservation</strong>
  </p>
   <a href="" class="list-group-item"><strong>Nom Voiture: </strong>{{detail.car_name}}</a>
  <a href="" class="list-group-item"><strong>Nom Client: </strong>{{detail.employee_name}}</a>
  <a href="" class="list-group-item"><strong>Telephone: </strong>{{detail.cell_no}}</a>
  <a href="" class="list-group-item"><strong>Addresse: </strong>{{detail.address}}</a>
  <a href="" class="list-group-item"><strong>De: </strong>{{detail.date}}</a>
  <a href="" class="list-group-item"><strong>Jusqu'a: </strong>{{detail.to}}</a>
  <a href="" class="list-group-item"><strong>Id Reservation: </strong>{{detail.id}}</a><br>
  <div class="pull-right">
    <a href="{% url 'order_edit' detail.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Modifier Reservation</button></a>
    <a href="{% url 'order_delete' detail.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> Supprimer Reservation</button></a>
    <a href=""><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Imprimer</button></a>

  </div>
</div>

{% endblock %}